//COLORS
$color-primary: #b66fff;
$color-primary-light: #8d62b6;
$color-primary-dark: #6600cc;
$color-primary-grey: #f0dbff;
$color-primary-grey-1: #f7f7f7;


//GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

//////////////////////////////////////////

//FIRST SECTION


* {
  margin: 0px;
  padding: 0px;

}